
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

/*Padrão*/
[class*="col-"]{
    float: left;
    box-sizing: border-box;
}

.imgResponsiva{
    width: 100%;
}

/*Customizando destinos*/
.destino div{
    padding: 3px;

}
.destino figure{
    padding: 10px;
    border: 1px solid rgba(212, 11, 95, 0.452);
    border-radius: 5px;
}
.destino p{
    text-align: center;
    margin-top: 10px;
}